<%- include('header'); -%>

<h2>This is the about page</h2>
<p>
  ipsum Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, et
  possimus rem esse aperiam obcaecati corrupti laborum, dignissimos quaerat ad
  blanditiis enim quod voluptate minima eveniet itaque sequi iure officia.
</p>

<%- include('footer'); -%>
